
# Ignore compiled files.
a.out
quad_solver
*.o

# Ignore spike compiled files.
spikes/ieee_floating_point/float
spikes/ieee_floating_point/sandbox/sandbox
spikes/square_root/sqrt
spikes/input_handling/arg_parse
spikes/input_handling/simple_parse
spikes/input_handling/std_in
spikes/logging/log_with_function
spikes/logging/log_with_macro
spikes/logging/log_file.txt
spikes/make/read_from_file
spikes/unit_testing/unit_tests

# Ignore vscode files
.vscode

# Ignore project logging files.
src/log/error.txt
src/log/info.txt
src/log/warn.txt
