
# Ignore compiled files.
a.out
quad_solver
*.o

# Ignore spike compiled files.
spikes/ieee_floating_point/float
spikes/input_handling/arg_parse
spikes/input_handling/simple_parse
spikes/input_handling/std_in
spikes/make/read_from_file

# Ignore vscode files
.vscode
