
# Ignore compiled files.
a.out
src/quad_solver
*.o
*.out
*.tar.gz
*.tmp

# Ignore spike compiled files.
spikes/ieee_floating_point/float
spikes/ieee_floating_point/sandbox/sandbox
spikes/square_root/sqrt
spikes/logging/log_file.txt
spikes/variadic_macros/log_file.txt

# Ignore vscode files
.vscode

# Ignore project logging files.
src/log/error.txt
src/log/info.txt
src/log/warn.txt
